extends layout
block content
  body
    div.container
      div.header
        h1.heading
          span.tree.glyphicon.glyphicon.glyphicon-tree-deciduous
          span.khan Khan
          span.questions Questions
        p Have an idea for a good question? Share it with others!
        a.button_default_color.list_button(href="#", class="btn btn-default") Answer Questions
        a.list_button.btn.primary.btn-default(href="#") Create Question
        button(id="submit")
         | Submit Question
      div(id="extras")

      div(id="perseus-container")
  div.container
    div.footer
      | This site makes us of Khanacademy's MIT Licensed open source.
  != "<script>"
      include ../public/javascripts/khanedit.js
  != "</script>"
