extends layout
block content

  div.container
    div.header
      h1.heading
        span.tree.glyphicon.glyphicon.glyphicon-tree-deciduous
        span.khan Khan
        span.questions Questions
      p Try to answer the question below. Like it? Give it a thumbs up!
      a.list_button(href="#", class="btn btn-default") Create Question
      div.list_button.btn-group
        button(type="button", class="btn btn-default") New
        button(type="button", class="btn btn-default") Trending
        button(type="button", class="btn btn-default") Good
      div.list_button.btn-grp
        button.btn.btn-default(type="button", style="color:#FA5858;")
          | 3 
          span.glyphicon.glyphicon-thumbs-down(style="position:relative;top:3px;")
        button.btn.btn-default(type="button", style="color:green;")
          | 41 
          span.glyphicon.glyphicon-thumbs-up
      a.list_button.btn.primary.btn-default(href="#") Next Question
  div.container
    | This site makes us of Khanacademy's open source under MIT License
