doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favico.png', sizes='16x16', type='image/png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    <!-- link(rel='stylesheet', href='/stylesheets/bootstrap-3.1.1-dist/css/bootstrap.min.css') -->
    link(rel="stylesheet" type="text/css" href="/perseus/ke/css/khan-site.css")
    link(rel="stylesheet" type="text/css" href="/perseus/ke/css/khan-exercise.css")
    link(rel="stylesheet" type="text/css" href="/perseus/lib/katex/fonts/fonts.css")
    link(rel="stylesheet/less" type="text/css" href="/perseus/lib/katex/katex.less")
    link(rel="stylesheet" type="text/css" href="/perseus/lib/mathquill/mathquill.css")
    link(rel="stylesheet/less" type="text/css" href="/perseus/stylesheets/exercise-content-package/perseus.less")
    link(rel="stylesheet/less" type="text/css" href="/perseus/stylesheets/perseus-admin-package/editor.less")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/perseus/lib/less.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/perseus/lib/jquery.js')
    script(src='/perseus/lib/underscore.js')
    script(src="/perseus/lib/es5-shim.js")
    script(src='/perseus/lib/react-with-addons.js')
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full&amp;delayStartupUntil=configured')
    script(src='/perseus/lib/katex/katex.js')
    script(src='/perseus/lib/mathquill/mathquill-basic.js')
    script(src='/perseus/lib/kas.js')
    script(src='/perseus/ke/local-only/jed.js')
    script(src='/perseus/ke/local-only/i18n.js')
    script(src='/perseus/ke/local-only/jquery.qtip.js')
    script(src='/perseus/ke/exercises-stub.js')
    script(src='/perseus/ke/local-only/require.js')

    block content