extends index
block question-modes
  div.list_button.btn-group
    a.btn.btn-default.button_default_color.current(href="/new", type="button") New
    a.btn.btn-default.button_default_color(href="/trending", type="button") Trending
    a.btn.btn-default.button_default_color(href="/", type="button") Good