.list_button {
	float:left;
	margin-right: 10px;
}
.header {
	padding: 10px 20px 50px;
	font-family: Avenir;
	background-color: #eee;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.header h1 {
	text-transform: uppercase;
}
.footer {
	margin-top: 20px;
	padding: 10px 20px 20px;
	font-family: Avenir;
	background-color: #eee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.tree {
	color: #96ab4f;
}
.khan {
	font-weight: bold;
}
.questions {
	
}
.problem_area {
	border: 1px solid #efefef;
	border-radius: 4px;
	height: 416px;
	margin-top: 20px;
}
.answer_area {
	border: 1px solid #efefef;
	border-radius: 4px;
	background-color: #eee;
	height: 150px;
	margin-top: 20px;
}
.primary {
	color: #fbfbfb;
	border: 1px solid #869b3f;
	background-color: #96ab4f;
}
.primary:hover {
	color: #efefef;
	border: 1px solid #869b3f;
	background-color: #869b3f;
}